<!-- SECTION BANNER, CONTÉM TEXTO ALINHADO À ESQUERDA
  (PARA CENTRALIZAR O ARTICLE DE TEXTO, ADICIONAR CLASSE 'center' NO ARTICLE) -->

<section class="banner">
  <div class="row">

    <article>
      <h1>Isto é um título (H1) de um banner.</h1>
      <h4>Isto é um subtítulo (H4) de um banner.</h4>
    </article>

  </div>
</section>

<!-- SECTION COM DUAS ROWS DE TEXTO, SENDO A PRIMEIRA ROW COM 2 COLUNAS (TEXTO E IMG)
  E A SEGUNDA ROW SÓ UMA COLUNA DE TEXTO -->

<section>
  <div class="row">

    <article>
      <h2>Isso é um título H2</h2>
      <p>Suspendisse odio justo, eleifend nec est feugiat, accumsan ornare enim. Vivamus vel lacus in augue dignissim vulputate.
      Nunc egestas dapibus purus, sed feugiat lorem gravida ut. Aenean sollicitudin sed nunc eget bibendum. Maecenas congue
      sagittis eros. Aliquam feugiat fringilla massa, eget sagittis elit lobortis quis. Integer eu interdum justo.</p>
    </article>

    <article class="center">
      <picture>
        <source srcset="../assets/images/webp/image.webp" type="image/webp" class="">
        <img src="../assets/images/jpg-png/image.png" width="546" alt="">
      </picture>
    </article>

  </div>
  <div class="row">

    <article>
      <p>Sed aliquam euismod velit, id rutrum nunc. Ut sagittis velit magna, vitae mollis leo viverra eget. Vivamus cursus nisl
      nisi, ut gravida nisi pretium at. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
      Maecenas pretium elit feugiat dolor finibus imperdiet. Mauris pretium risus nec tortor dapibus gravida. Sed ut mi
      tellus. Suspendisse ligula arcu, finibus eu dolor ac, semper blandit ipsum. Pellentesque urna libero, luctus nec massa
      nec, aliquam euismod justo. Phasellus mattis tellus non nibh auctor, in ornare urna vulputate. Donec porta diam vel
      sagittis euismod. Integer tincidunt odio sit amet urna placerat fringilla. Sed fermentum sit amet sapien ut vestibulum.
      Vivamus non tempor justo. Ut sed ullamcorper risus.</p>
    </article>

  </div>
</section>

<!-- SECTION COM DUAS ROWS, UMA COM UM SÓ ARTICLE DE TEXTO E OUTRA COM UM ARTICLE
  DE TITULO CENTRALIZADO -->

<section>
  <div class="row">

    <article>
      <h3>Isso é um título H3</h3>
      <h2>Isso é um título H2</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tempor nisi suscipit, pellentesque tellus id, efficitur
      eros. Sed tristique tortor nec purus gravida imperdiet. In hac habitasse platea dictumst. Donec dignissim, ipsum id
      rhoncus molestie, neque erat tempus tellus, in consequat est dolor vehicula sapien. Morbi et sapien ut orci dictum
      viverra. Donec ornare, lorem eget sodales euismod, mauris nulla aliquet sapien, et ultricies purus massa ut felis. Sed
      tempor tellus urna, a sollicitudin sem imperdiet ac. Suspendisse elit lectus, faucibus id convallis sit amet, tempor et
      arcu. Proin auctor ut est ut pulvinar. Cras at magna sed sapien hendrerit vehicula ac ac ex. Duis interdum justo metus,
      sit amet pharetra turpis volutpat vitae.</p>
      <p>Morbi eget feugiat odio. Sed ornare cursus justo, sit amet imperdiet tellus faucibus sed. In eget urna eget erat
      elementum facilisis a vel metus. Nam felis quam, placerat in hendrerit eu, aliquam id nunc. Proin gravida semper diam,
      quis lobortis leo efficitur a. Ut bibendum sodales lacus fermentum viverra. Phasellus sit amet dui lacinia, euismod eros
      a, molestie nisl. Duis molestie velit a neque sollicitudin, lobortis iaculis ex laoreet. Duis vel tellus ut lorem
      gravida varius facilisis sit amet diam. Proin pellentesque arcu aliquet, feugiat lorem bibendum, pretium nibh. Quisque
      ut orci eleifend lorem fermentum pulvinar. Pellentesque nisi tellus, tempor vel pellentesque nec, ornare sed lectus.
      Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec nec sagittis nulla. Donec sed posuere eros.</p>
    </article>

  </div>
  <div class="row">

    <article class="center">
      <h1>Esta row tem apenas um article centralizado com um titulo H1</h1>
    </article>

  </div>
</section>
