::-webkit-scrollbar {
  width: 5px !important;
  height: 5px !important;

  &-thumb {
    min-height: 48px !important;
  }
}

::-webkit-scrollbar-thumb {
  background-color: #131313 !important;

  &:hover {
    background-color: #131313 !important;
  }
}

::-webkit-scrollbar-track {
  background-color: #fff !important;

  &:hover {
    background-color: #fff !important;
  }
}
